* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
body {
    background: linear-gradient(to right, rgb(49, 46, 46), rgb(180, 12, 12));
}

.grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.grid-container > button {
    cursor: pointer;
    font-size: 2 rem;
    border: 1px solid black;
    outline: none;
}

.grid-container > .operator {
    background:rgb(255, 227, 227)
}

.grid-container > .result {
    background:rgb(255, 255, 255)
}
.span-two {
    grid-column: span 2;
}
.grid-container > .output {
    grid-column: 1 / -1;
    border: 3px solid black;
}